.login-page {
  min-height: 100vh;
  display: grid;
  place-items: center;
  background: var(--primary-200);
  padding: 1rem; 
  box-sizing: border-box;
}

.login-card {
  width: 100%;
  max-width: 360px;
  background: var(--white);
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);

  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1.5rem; 
  box-sizing: border-box;
}

.login-card img {
  width: 100px;
  align-self: center;
}

.login-card h2 {
  text-align: center;
  margin-bottom: 0.5rem;
}

.login-card label {
  display: flex;
  flex-direction: column;
  font-size: 0.9rem;
  gap: 0.25rem;
}

.login-card input {
  padding: 0.75rem 1rem;
  border-radius: 6px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
@media (min-width: 480px) {
  .login-card {
    padding: 2rem; 
  }

  .login-card input {
    padding: 1rem 2rem; 
  }
}