.books-carousel-container {
  padding: 2rem 2rem 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.books-carouse-title {
  width: 100%;
  gap: 1rem;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
}

.books-carouse-title::before,
.books-carouse-title::after {
  content: "";
  height: 1px;
  background: #ccc;
}

.books-carousel-content {
  gap: 2rem;
  align-items: center;

  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: calc(100% / 4);
  overflow-x: auto;
  padding: 1rem;

  scrollbar-width: none;
  -ms-overflow-style: none;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
}

.books-carousel-content::-webkit-scrollbar {
  display: none;
}

.books-carousel-content.dragging {
  cursor: grabbing;
}

.books-carousel-item {
  scroll-snap-align: start;
  flex-shrink: 0;
  user-select: none;
  height: 100%;
}
