.carousel-container {
  padding: 2rem 2rem 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.carousel-title {
  width: 100%;
  gap: 1rem;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  color: #1a1a1a;
}

.carousel-title::before,
.carousel-title::after {
  content: "";
  height: 1px;
  background: #ccc;
}

.carousel-content {
  gap: 2rem;
  align-items: center;
  display: grid;
  grid-auto-columns: 1;
  overflow-x: auto;
  padding: 1rem;

  scrollbar-width: none;
  -ms-overflow-style: none;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
}

.carousel-content::-webkit-scrollbar {
  display: none;
}

.carousel-content.dragging {
  cursor: grabbing;
}

.carousel-item {
  scroll-snap-align: start;
  flex-shrink: 0;
  user-select: none;
  height: 100%;
}

@media (width >= 600px) {
  .carousel-content {
    grid-auto-flow: column;
    grid-auto-columns: calc(100% / 2);
  }
}

@media (width >= 1024px) {
  .carousel-content {
    grid-auto-flow: column;
    grid-auto-columns: calc(100% / 4);
  }
}
