footer {
  width: 100%;
  background-color: var(--surface-100);
  padding: 1.5rem 1rem 3rem 1rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: center;
}

footer > .logo {
  width: 6rem;
}

footer > .media-container {
  display: flex;
  gap: 1.2rem;
  justify-content: space-evenly;
  margin-top: 1rem;
}

footer i {
  color: var(--surface-700);
  font-size: 1.2rem;
  cursor: pointer;
  transition: color 0.2s;
}

footer i:hover {
  color: var(--primary-700);
}

footer small {
  text-align: center;
  font-size: 0.75rem;
  color: var(--surface-500);
  letter-spacing: 0;
}

@media (width >= 600px) {
  footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    row-gap: 0.25rem;
    column-gap: 2rem;
    padding: 2rem 1rem;
  }

  footer > .logo {
    grid-row: 1 / span 2;
    grid-column: 1;
    width: auto;
  }

  footer > .media-container {
    grid-row: 1;
    grid-column: 2;
  }
}
