.coworking-navbar {
  padding: 1rem 3.5rem;
  display: flex;
  background-color: var(--surface-100);
  align-items: center;
  justify-content: end;
  gap: 2rem;
}

.coworking-navbar a {
  cursor: pointer;
}

.coworking-navbar a:hover {
  color: var(--primary-700);
}
